# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\macie\Documents\Studia\Semestr VI\Systemy-Rozproszone\Scattered-systems\lab4\mavenProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
